:root {
    --main: #ffffff;
    --secondary: #329759ed;
    --grey: #f3f3f3;
    --dark:#333333;
}

body {
    background-color: var(--main);
}

.secondaryTables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;   
}

#menuTblHeader, .gradeTd{
    line-height:1.2;
}

#mainTable{
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    margin-top: 10px;
    border-collapse: collapse;
    justify-content: center;
    border: 1.5px solid var(--dark);
    line-height:1.5;
}

#mainTableTitle {
  margin: 0px;
  padding: 10px;
  font-size:25px;
}

#mainTable tr:nth-child(even){
	background-color: var(--grey);
}

#mainTable tr:nth-last-child(1){
	background-color: var(--secondary);
}

#mainTable td {
    padding:3px 0px;
    text-align: center;
    border:.5px solid var(--dark);
    font-size:16px;
}

#mainTable th{
    background-color:var(--secondary);
    color:var(--main);
    padding:12px 10px;
    font-size:18px;
}

#firstShiftTotal, #secondShiftTotal {
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--main);
}

#moneySumTable {
    width:200px;
    border-collapse: collapse;
    border: 1px solid var(--dark);
}

#moneySumTitle, #foodSumTitle{
    padding-top:20px;
    background-color: var(--secondary);
    color: var(--main);
}

#moneySumTable tr:nth-child(even){
	background-color: var(--grey);
}

#moneySumTable tr:nth-last-child(1){
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--main);
}

#moneySumTable td, #foodSummaryTable td, #allStudentsTable td{
    padding:5px 0px;
    text-align: left;
    border:.5px solid var(--dark);
    font-size:16px;
    padding-left: 10px;
}

#foodSummaryTable {
    width:500px;
    border-collapse: collapse;
    border: 1px solid var(--dark);
}

#foodSummaryTable tr:nth-child(even){
	background-color: var(--grey);
}

/* add new students / display all students */
#allStudentsTable {
    border: 1px solid var(--dark);
    width:600px; 
    line-height:40px;
    border-collapse: collapse;
    margin-top:10px;
    margin-bottom: 50px;
}

#allStudentsTable th {
    border: 1px solid var(--dark);
}

#allStudentsTable td, #allStudentsTable button{
    text-align: center;
    margin-right: 10px;
}

#allStudentsTable button{
    border: none;
    background-color:transparent;
}

.fa-trash-can:hover, .fa-user-pen:hover, .fa-pencil:hover {
    cursor: pointer;
    color: #333333cd;
}

.fa-trash-can, .fa-user-pen, .fa-pencil {
    color: var(--dark);
}

#allStudentsTable tr:nth-child(odd){
	background-color: var(--grey);
}

#deleteStudentBtn, #updateStudentBtn, #addNewStudent, #backToHome, #graduate, #submitGraduation{
    padding:8px 12px;
    color: var(--dark);
    background-color:#eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

#addNewStudent:hover, #backToHome:hover, #submitNew:hover, #updateData:hover, #cancelBtn:hover {
    background-color:#e3e3e3;
}

#addNewStudent a, #backToHome a, #cancelBtn a {
    text-decoration: none;
    color: var(--dark);
}

.btnsAddNew  {
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 20px;
}

#addStudent, #updateStudent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#addStudent {
    gap:20px;
}

#updateStudent input, #updateStudent button, #updateStudent select {
    margin-left:15px;
}

#addStudent input,#updateStudent input,#updateStudent select, #submitNew, #updateData, #cancelBtn, .dropdown {
    padding:30px;
    padding:8px 12px;
    color: var(--dark);
    background-color:#eeeeee;
    border: 1px solid #dddddd;
    border-radius: 10px;
    outline: none;
}
.dropdown, #submitNew, #updateStudent select, #updateData, #cancelBtn {
    cursor: pointer;
}

.dropdown option, #updateStudent option{
    background-color:var(--main);
}

/* Grauation Modal */
.modal-bg {
    display:flex;
    justify-content:center;
    align-items:center;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    position: absolute;
    display: none;
}

.modal-content {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 20px;
    width: 450px;
    height: 350px;
    background-color: var(--main);
    border-radius: 10px;
    position: relative;
}

.closeBtn { 
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
}

#msgGrad {
    font-size: 25px;
    margin-bottom: 0px;
}

#warningGrad {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;

}
#graduationForm .textFieldGrad{
    position: relative;
    border-bottom: 2px solid #dddddd;
    margin: 5px 0;
}

.textFieldGrad input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* add new menus items / display all menu items */

#menuItemsTable {
    border: 1px solid var(--dark);
    width:600px; 
    line-height:40px;
    border-collapse: collapse;
    margin-top:0px;
    margin-bottom: 50px;
}

#menusTitle {
    margin-top: 20px;
}

#udateMenuForm,#deleteMenuItem {
    margin-bottom: 0px !important;
}

#menuItemsTable td,#menuItemsTable th {
    border: 1px solid var(--dark);
}

#menuItemsTable td, #menuItemsTable button{
    text-align: center;
    margin-right: 10px;
}

#menuItemsTable button{
    border: none;
    background-color:transparent;
}

#menuItemsTable tr:nth-child(odd){
	background-color: var(--grey);
}

#deleteMenuItemBtn, #updateMenuBtn, #addNewMenuItemBtn, #backToHomeBtn{
    padding:8px 12px;
    color: var(--dark);
    background-color:#eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

#addNewMenuItemBtn:hover, #backToHomeBtn:hover, #submitNewItem:hover, #updateMenuData:hover, #cancelUpdateBtn:hover {
    background-color:#e3e3e3;
}

#addNewMenuItemBtn a, #backToHomeBtn a, #cancelUpdateBtn a {
    text-decoration: none;
    color: var(--dark);
}


#createMenuItem, #updateMenu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#createMenuItem {
    gap:20px;
}

#updateMenu input, #updateMenu button, #updateMenu select {
    margin-left:15px;
}

#createMenuItem input,#updateMenu input,#updateMenu select, #submitNewItem, #updateMenuData, #cancelUpdateBtn, .dropdown {
    padding:30px;
    padding:8px 12px;
    color: var(--dark);
    background-color:#eeeeee;
    border: 1px solid #dddddd;
    border-radius: 10px;
    outline: none;
}
.dropdown, #submitNewItem, #updateMenu select, #updateMenuData, #cancelUpdateBtn {
    cursor: pointer;
}

.dropdown option, #updateMenu option{
    background-color:var(--main);
}

/* menu tabs */
  
.tabs {
    display: flex;
    justify-content:center;
    align-items:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.tab {
    cursor: pointer;
    height:50px;
    width:120px;
    font-size: 16px;

}