:root {
    --main: #ffffff;
    --secondary: #349b5c;
    --grey: #f3f3f3;
    --dark:#333333;
    --purple: #cdc7dd;
}

*{
	box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
	margin:0;
	padding:20px;
	font-family: sans-serif;
    color: var(--dark);
}

#deleteBtnForm {
    padding:0px;
    margin:0px;
}

#orderLunchTitle {
    display:flex;
    justify-content: center;
    color: var(--secondary);
    margin-top:10px;
    margin-bottom:40px;
}

#oneStudentMsg, #studentToDiffClassMsg {
    text-align: center;
    padding-top:0px;
    margin-top:0px;
}

#oneStudentMsg {
    color:#ff3333;
}

#studentToDiffClassMsg {
    color:#349b5b9c;
}

#classOrderTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border-collapse: collapse;
    justify-content: center;
}



#classOrderTable tr#addedFromOtherClass{
    background-color:rgba(43, 0, 255, 0.281);
}

#classOrderTable tr:nth-child(even){
	background-color: var(--grey);
    color: var(--secondary);
}

#classOrderTable td {
    padding:15px 0px;
    text-align: center;
  /*   border:1px solid var(--grey); */
    font-size:16px;
}

#deleteHead  {
    border-top-right-radius:10px;
}

#gradeHead  {
    border-top-left-radius:10px;
}


#classOrderTable th {
    
    background-color:var(--secondary);
    color:var(--main);
    padding:12px 10px;
    font-size:18px;
}

/* Dropdowns, buttons, inputfields  */

#lunch-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
}

#submitOrderBtn{
    grid-column: span 2;
    grid-row: 3 / 3;
    font-size: 20px;
}

#submitOrderBtn,#quantities,#logoutBtn,#backToHome,.dropdown,.backBtn{
    padding:8px 12px;
    color: var(--dark);
    background-color:#eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}


#logoutBtn,.backBtn {
    border-radius: 50px;
}

.backBtn a{
    text-decoration: none;
    color: var(--dark);
}

#deleteStuOrder {
    border: none;
    background-color:transparent;
}

.fa-trash-can:hover {
    cursor: pointer;
    color: #333333cd;
}

.fa-trash-can {
    color: var(--dark);
}

.dropdown option {
    background-color:var(--main);
}
.dropdown:focus,
.dropdown:hover {
    outline:none;
    border:1px solid #bbbbbb;
}

#submitOrderBtn:hover,
#logoutBtn:hover,
.backBtn:hover {
    background-color:#e3e3e3;
}

#quantities{
    outline:none;
}

#quantities:focus{
    border:1px solid #bbbbbb;
}

#allOrderTotals{
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#allOrderTotals div {
    background-color: var(--grey);
    width: 200px;
    text-align: center;
}

#allOrderTotals div:nth-child(1) {
    color:var(--secondary);
    font-size: 18px;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#allOrderTotals div:nth-child(2) {
    color:var(--purple);
    font-size: 18px;
    padding-top: 0px !important;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#logoutBtn,.backBtn {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#logoutBtn a {
    text-decoration: none;
    color: var(--dark);
}

/* Responsive */
@media screen and (max-width: 500px) {

    #lunch-form > * {
        margin-bottom: 20px;
    }

    #submitOrderBtn,#quantities,#logoutBtn,#backToHome,.dropdown,.backBtn{
        padding:10px 10px;
        font-size: 20px;
    }

    #oneStudentMsg, #studentToDiffClassMsg {
        font-size: 18px;
    }
    #classOrderTable {
        width: 100%;
        box-shadow: none;
    }
    #classOrderTable thead {
        display: none;
    }

    #classOrderTable, #classOrderTable tbody, #classOrderTable tr ,#classOrderTable  td {
        display:block;
        width: 100%
    }

    #classOrderTable tbody tr{
        margin-bottom: 20px;
        background-color: var(--grey);
    }

    #classOrderTable td, #classOrderTable th {
        padding:5px 5px;
    }
   
    #classOrderTable tr {
        margin-bottom:20px;
    }
    #classOrderTable td {
       text-align:right;
       padding-left:50%;
       position:relative;
       border:1px solid var(--main);
    }

    #classOrderTable tbody:nth-child(even){
        background-color: var(--main);
        color: var(--dark);
    }

    #deleteOrderLabel{
       height:30px;
       display: inline-block;
       width: 100%;
    }

    .fa-trash-can {
        margin-left: 10px;
    }
   
    #classOrderTable td::before {
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left:10px;
        font-size:15px;
        font-weight: bold;
        text-align:left;
    }

    #orderLunchTitle {
        display:none;
    }

    #lunch-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }   

}